class {
  onInput() {
    this.state = { messageCount: 30 };
  }

  incrementMessages() {
    this.state.messageCount++;
  }
}

<layout foo=state.messageCount>
  <@content>
    <app-hello name=data.name addMessage=component.incrementMessages.bind(component) />

    <ul if(data.colors && data.colors.length)>
        <li style="color: ${color}" for(color in data.colors)>${color}</li>
    </ul>
    <div else>No colors!</div>
  </@content>
</layout>

